src/main/mule/customers/code.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:customers-process-api="http://www.mulesoft.org/schema/mule/customers-process-api" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/customers-process-api http://www.mulesoft.org/schema/mule/customers-process-api/current/mule-customers-process-api.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
	<flow name="get:\customers\(id):ib-e-shopify-config">
	<ee:transform doc:name="varInitialData" doc:id="871a35f1-2aad-40df-9454-fe6284f11340" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="varInitialData" ><![CDATA[%dw 2.0
output application/json
---
{
	correlationId: attributes.headers.'x-correlation-id',
	customerId: attributes.uriParams.id,
	origin: attributes.headers.'x-source-system'
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="START get customers by id" doc:id="7d2446b6-002b-418c-87cb-8506aea00ffe" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	&#10;	message: "starting get customers by id",&#10;	content: vars.varInitialData&#10;}]' />
		<ee:cache doc:name="Cache" doc:id="3733d1c1-3ff0-4917-9c97-334547eff0e1" cachingStrategy-ref="Caching_Strategy" >
			<customers-process-api:retrieve-customer-by-id doc:name="Retrieve customer by ID" doc:id="cddba0e1-1b50-4690-b56e-d6e46941e29c" id="#[vars.varInitialData.customerId]" x-correlation-id="#[vars.varInitialData.correlationId]" x-source-system="#[vars.varInitialData.origin]" config-ref="Customers_Process_API_Config"/>
		</ee:cache>
		<ee:transform doc:name="response" doc:id="f972926e-acfc-4302-90e8-e09c7b9f1f16" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"nombre": payload.name,
	"email": payload.email
	
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="END get customers by id" doc:id="1efc1af7-71a1-4563-b284-41f3a6698413" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	&#10;	message: "get customers by id successfully",&#10;	content: vars.varInitialData,&#10;	results: payload&#10;	&#10;}]' />
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="657942e3-080f-4fd1-ba37-4ca5811b8d01" type="ANY">
				<logger level="INFO" doc:name="error trying to get customer by id" doc:id="e11339dc-8194-41f3-8213-6fdfab4f3c6c" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	error: error,&#10;	message: "error trying to get customer by id",&#10;	content: vars.varInitialData&#10;}]' />
				<ee:transform doc:name="response" doc:id="344ec6f7-8f43-448f-a9ab-a03d4509b0ef">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	error: error.description,
	correlationId: vars.varInitialData.correlationId,
	customerId: vars.varInitialData.customerId,
	origin: vars.varInitialData.origin
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</on-error-propagate>
		</error-handler>
    
    </flow>
	<flow name="post:\customers:application\json:ib-e-shopify-config">
		<idempotent-message-validator doc:name="Idempotent Message Validator" doc:id="a76dd1c1-8ab4-460b-8116-140e389f6025" idExpression='#[attributes.headers."x-idempotency-key"]' storePrefix="customers" valueExpression='#[attributes.headers."x-idempotency-key"]'>
			<os:private-object-store alias="customers" maxEntries="1000" entryTtl="1" entryTtlUnit="DAYS" expirationInterval="4" expirationIntervalUnit="DAYS" config-ref="ObjectStore_Config" />
		</idempotent-message-validator>
		<ee:transform doc:name="varInitialData" doc:id="6b5d1996-2c57-4454-a054-8ea66a59e7c9" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="varInitialData" ><![CDATA[%dw 2.0
output application/json
---
{
	correlationId: attributes.headers.'x-correlation-id',
	origin: attributes.headers.'x-source-system',
	idempotencykey: attributes.headers."x-idempotency-key",
	content: payload
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="START post customers" doc:id="2d24bd07-3f76-4f1f-9ef8-12fd3a2492ec" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	&#10;	message: "starting post customers",&#10;	content: vars.varInitialData&#10;}]' />
		<ee:transform doc:name="canonical data model" doc:id="102e654e-4b15-4031-a560-e68a8beb5e18" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json skipNullOn= "everywhere"
---
{
	name: payload.nombre[0],
	surname: payload.nombre[1],
	email: payload.email,
	phone: payload.telefono,
	address: {
		country: payload.direccion.pais,
		city: payload.direccion.ciudad,
		street: payload.direccion.calle
		
		}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<customers-process-api:add-customer doc:name="Add customer" doc:id="6f53def9-8c82-4fb1-90a4-510e4daabd38" config-ref="Customers_Process_API_Config" x-correlation-id="#[vars.varInitialData.correlationId]" x-source-system="#[vars.varInitialData.origin]" x-idempotency-key="#[vars.varInitialData.idempotencykey]" />
		<logger level="INFO" doc:name="END post customers" doc:id="33f291c5-51cc-4134-b2e9-bcacf70f3177" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	&#10;	message: "customer posted successfully",&#10;	content: vars.varInitialData&#10;}]' />
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="a27c4441-b7e0-47db-90f9-c86e1c6c9a27" type="ANY">
				<logger level="ERROR" doc:name="error trying to post customer" doc:id="712350a4-ce05-4e24-873e-e485517eae6f" message="#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	content: vars.varInitialData,&#10;	error: error&#10;}]" />
				<ee:transform doc:name="response" doc:id="87ec7849-b5aa-496c-9bc6-13a610097889" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	error: error.description,
	correlationId: vars.varInitialData.correlationId,
	origin: vars.varInitialData.origin,
	idempotencyKey: vars.varInitialData.idempotencykey
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	
    </flow>

	</mule>
